@import url(../../colors.scss);

.wrap {
    display: flex;
    // justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}

.custom-btn {
    position: absolute;
    left: 37%;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    width: 25%;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 1 */
.btn-1 {
    background: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    border: none;
}

.btn-1:hover {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

// .card {
//     width: 100%;
//     max-width: 500px;
//     min-width: 250px;
//     min-height: 350px;
//     margin-bottom: 25px;
//     align-self: center;
//     transform-style: preserve-3d;
//     transition: transform 0.5s;
//     border: 1px solid #ccaa99;
//     border-radius: 5px;
//     background-color: white;
//     color: #bb5555;
//     card-shadow: 0 0 10px 1px #ffeedd;
//     font-size: 1em;
// }

// .card__image {
//     width: 350px;
//     height: 250px;
// }

.card__btn_like {
    position: relative;
    width: 64px;
    height: 60px;
    margin-top: auto;
    font-size: 16px;
    border: none;
    background-color: transparent;
    // background-image: url("../../assets/images/like.svg");
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    cursor: pointer;
    // padding: 64px 64px;
    // border: none;
}

.card__btn_like svg {
    fill: #cd1b24;
    transition: fill 0.3s;
}

.card__btn_like:hover svg {
    // background-color: transparent;
    fill: #ff2c36;
}

.card__btn_delete {
    position: absolute;
    background: url(../../assets/images/icons8-cancel-50.png);
    background-size: cover;
    // align-self: flex-end;
    width: 35px;
    height: 35px;
    left: 100%;
    top: -5.5%;
    font-size: 20px;
    // background: transparent;
    border: none;
    cursor: pointer;
    // align-self: flex-end;
}

// .button {
//     display: block;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     margin-top: auto;
//     // padding: 16px;
//     color: #000;
//     // background: transparent;
//     box-shadow: 0px 0px 0px 1px black inset;
//     transition: background 0.4s ease;
// }

// .button:hover {
//     background: var(--purple);
// }

.card__btn_like::before {
    content: "";
    // background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card__btn_like:hover::before {
    opacity: 1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
}

.description {
    white-space: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

// .wrap {
//     display: flex;
//     justify-content: space-between;
//     align-items: stretch;
//     width: 100%;
//     gap: 24px;
//     padding: 24px;
//     flex-wrap: wrap;
// }

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    padding: 34px;
    background: #fff;
}

.card-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
}

.card__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
}

.user-follow-info {
    color: hsl(0, 0%, 60%);
}



.fill-one {
    background: var(--light-bg);
}

.fill-two {
    background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {
    .card {
        flex-basis: calc(50% - 12px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 840px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1024px) {
    .card {
        flex-basis: calc(33.3% - 16px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(25% - 18px);
    }
}